@import "reset.css" screen;

body{
   font-family: 'Open Sans';
}


.w100{
   width: 100%;
   position: relative;
   overflow: hidden;
}

.phone-head{
   position: absolute;
   margin-left: 100px;
   bottom: 128px;
   width: 182px;
   text-align: center;
   line-height: 57px;
   font-size: 18px;
   color: #ffffff;
}

.w480 .phone-head{
   position: relative;
   bottom: auto;
   
   width: auto;
   margin: 0 auto;
}

.sl1 .button{
   position: absolute;
   bottom: 128px;
}

.w480 .sl1 .button{
   position: relative;
   bottom: auto;
}

.sl1 > .content{
   height: 100%;
}

.sl1{
   background: url('../img/sl1.jpg') no-repeat scroll 50% 0;
   height: 641px;
}

.w480 .sl1{
   height: 720px;
   background-size: cover;
}

.content{
   width: 1220px;
   margin: 0 auto;
   position: relative;
}

.w1024 .content{
   width: 990px;
}

.w480 .content{
   width: 100%;
}

.text-sl1{
   font-family: 'Roboto';
   font-size: 40px;
   color: #f9dc45;
   font-weight: 100;
   line-height: 40px;
   position: relative;
   padding-top: 135px;
   width: 560px;
   float: right;
   margin-right: 100px;
   
   height: 100%;
   box-sizing: border-box;
}

.text-sl1 > span{
   font-size: 92px;
   font-weight: 400;
   position: absolute;
   margin-top: -15px;
}

.w480 .text-sl1{
   float: none;
   width: 100%;
   font-size: 28px;
   line-height: 28px;
   padding-top: 20px;
   margin-right: 0;
   text-align: center;
   height: auto;
}

.w480 .text-sl1 > span{
   font-size: 44px;
   top: -4px;
   position: relative;
}

.w480 .line{
   width: auto;
   box-sizing: border-box;
   margin: 25px 15px 0;
}

.logo{
   background: url('../img/logo.png') no-repeat;
   width: 182px;
   height: 180px;
   margin-top: 105px;
   margin-left: 100px;
   float: left;
}

.w480 .logo{
   float: none;
   margin: 20px auto 20px;
}

.line{
   width: 550px;
   height: 1px;
   background: #f9dc45;
   margin-top: 25px;
}

.white-text{
   font-family: 'Open Sans';
   color: #ffffff;
   font-size: 14px;
   line-height: 23px;
   margin-top: 15px;
   margin-bottom: 80px;
}

.w480 .white-text{
   margin-bottom: 40px;
   margin-left: 15px;
   margin-right: 15px;
}

.button{
   font-family: "Open Sans";
   border: 1px solid #ffffff;
   height: 57px;
   line-height: 57px;
   font-size: 18px;
   display: inline-block;
   padding: 0 22px;
   color: #ffffff;
   background: rgba(0,0,0,0.7);
   cursor: pointer;
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
   -o-transition: background 0.5s;
   transition: background 0.5s;
}

.w480 .button{
   font-size: 16px;
}

.foot .button{

   background: rgba(255,255,255,0.15);
}


.button:hover{
   background: rgba(0,0,0,0);
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
   -o-transition: background 0.5s;
   transition: background 0.5s;
}

.w480 .sl1 .button{
   width: auto;
   display: block;
   margin: 0 15px;
}

.title-block{
   font-size: 40px;
   line-height: 50px;
   font-family: "Roboto";
   font-weight: 100;
   color: #000000;
   width: 700px;
   margin: 120px auto 0;
   text-align: center;
}

.w480 .title-block{
   margin: 50px 20px 0;
   width: auto;
   font-size: 22px;
   line-height: 29px;
}

.sl2 .content > img{
   max-width: 90%;
   margin-top: 80px;
   margin-bottom: 120px;
}

.w480 .sl2 .content > img{
   margin-top: 40px;
   margin-bottom: 50px;
}

.sl2 .content{
   text-align: center;
}

.sl3{
   background: #e6e6e6;
   overflow: hidden;
}

.col{
   width: 50%;
   float: left;
   text-align: center;
}

.col + .col{
   position: absolute;
   height: 100%;
   right: 0;
}

.col + .col > .with-text{
   position: absolute;
   bottom: 0;
   margin-left: 96px;
}

.w480 .col + .col > .with-text{
   position: relative;
   bottom: auto;
}

.w480 .col{
   width: 100%;
   float: none;

}

.w480 .col + .col {
   position: relative;
   height: auto;
}

.col > img{
   margin: 60px 0 35px 0;
   max-width: 90%;
}

.col + .col > img{
   margin: 90px 0 5px 0;
}

.col > .with-text{
   width: 420px;
   margin-left: 140px;
}

.w480 .col > .with-text{
   margin: 0 15px;
   width: auto;
}

.w1024 .col > .with-text{
   width: 420px;
   margin-left: 90px;
}

.with-text > span{

   font-size: 13px;
   line-height: 23px;
   color: #808080;
}

.clear{
   clear: both;
}

.h60{
   height: 60px;
}

.sl4 .content{
   height: 580px;
}

.w1024 .sl4 .content{
   height: 800px;
}

.nolmalw .sl4{
   box-sizing: border-box;
   padding-left: 80px;
}

.list{
   background: url('../img/border-diagram.png') no-repeat;
   width: 347px;
   height: 244px;
   margin-top: 160px;
   padding: 28px 0 0 40px;
   box-sizing: border-box;
   position: absolute;
}

.w1024 .list{
   background: url('../img/list1024.png') no-repeat;
   width: 780px;
   height: 189px;
   left: 50%;
   margin-left: -390px;
   padding: 36px 0 0 54px;
   vertical-align: top;
}

.one-list{
   position: relative;
   font-size: 14px;
   line-height: 23px;
   color: #000000;
   margin-bottom: 25px;
   width: 260px;
}

.w1024 .one-list{
   display: inline-block;
   margin-right: 140px;
   vertical-align: top;

}

.w1024 .one-list + .one-list{
   margin-right: 0;
}

.one-list:before{
   content: "—";
   position: absolute;
   margin-left: -15px;
   top: -2px;
}

.star{
   position: absolute;
   top: 456px;
   left: 43px;
   width: 195px;
   color: #808080;
   font-size: 12px;
   line-height: 17px;
   z-index: 2;
}

.w1024 .star{

   top: 725px;
   left: 745px;
}

.star:before{
   content: "*";
   position: absolute;
   margin-left: -9px;
   top: 1px;
}

.diagramm{
   width: 830px;
   position: absolute;
   height: 395px;
   top: 155px;
   left: 335px;
}

.w1024 .diagramm{
   top: 420px;
   left: 50%;
   margin-left: -415px;
}

.diagramm > img{
   position: absolute;
   margin: 20px 0 0 85px;
}

.perc{
   line-height: 17px;
   font-size: 12px;
   color: #808080;
   text-align: center;
   position: absolute;
}

.perc span{
   font-family: "Roboto";
   font-size: 40px;
   color: #692608;
   line-height: 47px;

}

.perc span.p{
   font-size: 28px;

   position: relative;
   bottom: -7px;
}

.p1{
   width: 172px;
   margin-left: 105px;
}

.p2{
   width: 125px;
   margin-left: 375px;
}

.p3{
   width: 169px;
   margin: 270px 0 0 640px;
}

.p4{
   width: 193px;
   margin-top: 275px;
}

.w1024 .p3{
   margin: 50px 0 0 640px;
}

.w480 .sl4 .content{
   height: auto;
   padding-bottom: 50px;
}

.w480 .list{
   background: url('../img/list480.png') no-repeat;
   position: relative;
   width: 301px;
   height: 282px;
   margin: 64px auto 10px;

}

.w480 .one-list{
   width: 240px;
}

.w480 .diagramm{
   position: relative;
   width: 100%;
   text-align: center;
   height: auto;
   top: auto;
   left: auto;
}

.w480 .diagramm > img{

   position: relative;
   margin: 0;
}

.w480 .star{
   display: none;
}

.w480 .perc{
   margin: 0 auto 20px !important;
   position: relative;

}


.title-block span{
   font-size: 22px;
   font-family: "Open Sans";
   color: #808080;
}

.sl5{
   text-align: center;
   padding-bottom: 150px;
}

.variant{
   margin: 120px auto 35px;
   background: #dfa600;
   color: #ffffff;
   font-size: 22px;
   line-height: 52px;
   padding: 0 18px;
   display: inline-block;
}

.variant + .title-block{
   margin-top: 0;
   margin-bottom: 30px;
}

.vara{
   padding-left: 440px;
   width: 800px;
   background: url('../img/vara.jpg') no-repeat;
   height: 227px;
   padding-top: 80px;
   vertical-align: top;
   text-align: left;
   box-sizing: border-box;
   margin: 0 auto;
}

.var-text{
   width: 285px;
   font-size: 14px;
   line-height: 19px;
   color: #808080;
}

.var-text span{
   font-size: 22px;
   color: #dfa600;
   line-height: 30px;
   font-weight: bold;
}

.gray-line{
   width: 345px;
   background: #808080;
   height: 1px;
   margin: 10px 0;
}

.text-after-gray-line{
   font-size: 14px;
   color: #808080;
}

.varb{
   background: url('../img/varb.jpg') no-repeat;
   width: 782px;
   padding-top: 246px;
   padding-left: 440px;
   vertical-align: top;
   text-align: left;
   box-sizing: border-box;
   margin: 0 auto;
}

.nolmalw .varb{
   background-size: contain;
}

.w480 .vara{
   background-size: contain;
   padding-left: 0;
   width: 100%;
   background-position: 50%;
   padding-top: 220px;
   margin-bottom: 40px;
}

.w480 .varb{
   background: url('../img/varb-mini.png') no-repeat scroll 50% 0;
   padding-left: 0;
   width: 100%;
   padding-top: 290px;
}

.w480 .var-text{
   width: auto;
   margin: 0 15px;

}

.w480 .gray-line{

   width: auto;
   margin: 0 15px;
}

.w480 .text-after-gray-line{

   margin: 0 15px 30px;
}

.w480 .sl5{
   padding-bottom: 30px;
}

.text-after-title{
   font-size: 14px;
   color: #000000;
   line-height: 23px;
   margin: 60px auto;
   width: 590px;
}

.w480 .text-after-title{
   width: auto;
   margin: 40px 15px;
}

.sl6{
   text-align: center;
   padding-bottom: 60px;
   background: #e6e6e6;
}

.one-dop{
   width: 33%;
   display: inline-block;
   text-align: center;
   font-size: 22px;
   line-height: 30px;
   font-family: "Roboto";
   font-weight: 100;
   vertical-align: top;
}

.w480 .one-dop{
   width: 100%;
   margin-bottom: 40px;
}


.dop{
   width: 172px;
   height: 172px;
   margin-bottom: 20px;
   display: inline-block;
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
   -o-transition: background 0.5s;
   transition: background 0.5s;
}

.dop:hover{
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
   -o-transition: background 0.5s;
   transition: background 0.5s;
}

.dop > img{
   display: none;
}

.dop1{
   background: url('../img/01.png') no-repeat;
}

.dop1:hover{
   background: url('../img/01_hover.png') no-repeat;
}

.dop2{
   background: url('../img/02.png') no-repeat;
}

.dop2:hover{
   background: url('../img/02_hover.png') no-repeat;
}

.dop3{
   background: url('../img/03.png') no-repeat;
}

.dop3:hover{
   background: url('../img/03_hover.png') no-repeat;
}

.sl6 .title-block{
   padding-top: 120px;
   margin-top: 0;
}

.w480 .sl6 .title-block{
   padding-top: 50px;
}

.sl7{
   text-align: center;
   overflow: hidden;
   padding-bottom: 40px;
}

.one-pr{
   width: 25%;
   display: inline-block;
   margin-top: 60px;
   vertical-align: top;
   text-align: center;
   font-size: 14px;
   color: #000000;
   line-height: 23px;
   margin-right: -4px;
}

.w1024 .one-pr{
   width: 50%;
}

.w480 .one-pr{
   width: 100%;
}

.div220{
   width: 100%;
   max-width: 220px;
   display: inline-block;
}

.div300{
   width: 100%;
   max-width: 300px;
   display: inline-block;
}

.one-pr span{
   color: #dfa600;
   font-size: 50px;
   line-height: 60px;
   font-family: "Roboto";
   font-weight: 100;
}



.sl8{
   background: url('../img/sl8.png') no-repeat scroll 50% 50%;
   height: 759px;
   text-align: center;
}

.w1024 .sl8{
   height: 650px;
}

.w480 .sl8{
   height: 460px;
   background: url('../img/sl8-mini.png') no-repeat scroll 50% 50%;
   background-size: cover;
}

.sl8 .title-block{
   margin-top: 0;
   padding-top: 210px;
   color: #ffffff;

}

.w1024 .sl8 .title-block{
   padding-top: 140px;
}

.w480 .sl8 .title-block{
   padding-top: 70px;
}


.w-text{
   width: 750px;
   margin: 40px auto 0;
   font-size: 22px;
   line-height: 30px;
   color: #ffffff;
   font-family: "Roboto";
   font-weight: 100;
}

.w-line{
   display: inline-block;
   width: 80px;
   height: 1px;
   background: #ffffff;
   margin-bottom: 12px;
}

.w480 .w-text{
   font-size: 14px;
   line-height: 23px;
   width: auto;
   margin: 30px 30px 0;
}

.sl9{
   text-align: center;
}


.sl9 img{
   max-width: 95%;
}

.sl9 .title-block{
   margin-top: 0;
   margin-bottom: 50px;
}

.double-col{
   width: 45%;
   display: inline-block;
   font-size: 14px;
   line-height: 23px;
   color: #000000;
   margin-right: 8%;
   vertical-align: top;
   text-align: left;
}

.double-col + .double-col{
   margin-right: 0;
}

.multi{
   width: 850px;
   margin: 0 auto;
}

.w480 .multi{
   width: 100%;
}

.w480 .double-col{
   width: 90%;
   margin-right: 0;
   margin-bottom: 20px;
}

.foot{
   background: url('../img/foot.png') no-repeat scroll 50% 0;
   height: 737px;
   text-align: center;
}

.w1024 .foot{
   background: url('../img/foot.png') no-repeat scroll 0 0;
}

.w480 .foot{
   height: 470px;
   background: url('../img/foot.png') no-repeat scroll 0 0;
}

.foot .title-block{
   margin-top: 0;
   padding-top: 210px;
   color: #ffffff;
   margin-bottom: 36px;
}

.nolmalw .foot .title-block{
   padding-top: 290px;
}

.w480 .foot .title-block{
   padding-top: 120px;
}

.phone{
   color: #ffffff;
   font-size: 22px;
   font-family: "Roboto";
   font-weight: 100;
   margin-top: 36px;
   margin-bottom: 100px;
}


.form{
   width: 545px;
   height: 545px;
   position: fixed;
   z-index: 4;
   top: 50%;
   left: 50%;
   margin-top: -270px;
   margin-left: -270px;
   background: #333333;
   box-sizing: border-box;
   padding: 37px 57px 0;
   font-size: 14px;
   line-height: 34px;
   box-shadow: 0 0 2000px 2000px rgba(0,0,0,0.9);
   color: #ffffff;
   display: none;
}



input{
   margin-bottom: 20px;
   border: none;
   background: #e1e1e1;
   color: #000000;
   width: 100%;
   padding: 0 10px;
   height: 40px;
   line-height: 40px;
   box-sizing: border-box;
   outline: none;
}

textarea{
   margin-bottom: 20px;
   border: none;
   background: #e1e1e1;
   outline: none;
   color: #000000;
   width: 100%;
   padding: 0 10px;
   font-family: "Open Sans";
   height: 120px;
   line-height: 23px;
   box-sizing: border-box;
}

input.with-val, textarea.with-val{
   background: #ffffff;
}

.close{
   position: absolute;
   right: -44px;
   top: -44px;
   background: url('../img/close.png') no-repeat;
   cursor: pointer;
   width: 32px;
   height: 32px;
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
   -o-transition: background 0.5s;
   transition: background 0.5s;
}

.close:hover{
   background: url('../img/close_hover.png') no-repeat;
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
   -o-transition: background 0.5s;
   transition: background 0.5s;
}

.w480 .form{
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   margin: 0;

}

.w480 .close{
   right: 12px;
   top: 12px;
}



.w100{
   opacity: 0;
   -webkit-transition: opacity  1.5s,transform 1s;
   -moz-transition: opacity  1.5s,transform 1s;
   -o-transition: opacity  1.5s,transform 1s;
   transition: opacity  1.5s,transform 1s;

   transform: translateY(200px);
   -webkit-transform: translateY(200px);
   -moz-transform: translateY(200px);
   -o-transform: translateY(200px);
}




.w100.vis{
   opacity: 1;
   -webkit-transition: opacity  1s,transform 1s;
   -moz-transition: opacity  1s,transform 1s;
   -o-transition: opacity  1s,transform 1s;
   transition: opacity  1s,transform 1s;

   transform: translateY(0)  translateX(0);
   -webkit-transform: translateY(0)  translateX(0);
   -moz-transform: translateY(0)  translateX(0);
   -o-transform: translateY(0)  translateX(0);
}
